*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 1.5em 1.5em 1.5em 6em;
    border-radius: 5px;
}


#navbar {
    height: 100%;
    width: 20em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: white;
    border: 1px solid black;
    border-top: 0;
}

#navbar div {
    font-size: 18px;
    padding: 20px;
    border-top: 1px solid black;
}

#navbar a {
    text-decoration: none;
}

#navbar a:visited {
    color: inherit;
}

#nav-header {
    border-top: 0 !important;
    text-align: center;
}

#main-doc {
    margin-left: 20em;
    padding: 35px;
}

.main-section {
    font-size: 1em;
    color: #4d4e53;
    line-height: 1.7em;
}

.main-section h2 {
    font-size: 30px;
    padding: 1.5em 1.5em 0.5em 1.5em;
}
.main-section p {
    padding: 0.5em 3em 0em 4em;
}

.main-section ul {
    padding: 0.5em 3em 0.5em 7em;
}

.main-section li {
    padding: 0.3em 0em 0.3em 0em;
}